#!/usr/bin/env zsh

export LC_ALL="en_US.UTF-8"

path+=("$HOME/.local/bin")
export PATH

{{- if eq .chezmoi.os "linux" }}
export HOMEBREW_PREFIX=/home/linuxbrew/.linuxbrew
{{- else if eq .chezmoi.hostname "Akhyar-Amarullah" }}
export HOMEBREW_PREFIX=/opt/homebrew
{{- else if eq .chezmoi.os "darwin" }}
export HOMEBREW_PREFIX=/usr/local
{{- end }}
export LD_LIBRARY_PATH="${HOMEBREW_PREFIX}/lib"

eval $($HOMEBREW_PREFIX/bin/brew shellenv)

export ZSH_WAKATIME_BIN=wakatime-cli
