#!/bin/bash

set -eufo pipefail

{{- if (eq .chezmoi.os "linux") }}

brew bundle --no-lock --file=/dev/stdin <<EOF

brew "asdf"
brew "bitwarden-cli"
brew "fasd"
brew "hub"
brew "neofetch"
brew "neovim"
brew "rsync"
brew "tig"
brew "tree"

EOF

{{- end }}
