#!/bin/bash

set -eufo pipefail

{{- if (eq .chezmoi.os "linux") }}

brew bundle --no-lock --no-upgrade --file=/dev/stdin <<EOF

brew "asdf"
brew "fasd"
brew "fzf"
brew "hub"
brew "ncdu"
brew "neofetch"
brew "neovim"
brew "rsync"
brew "tig"
brew "tree"

brew "bitwarden-cli"
brew "wakatime-cli"

EOF

{{- end }}
